Repository dycw/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, fish_indent

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/dycw/actions
    rev: 0.15.2
    hooks:
      - id: conformalize-repo
        args:
          - --description=Library of actions
          - --envrc
          - --envrc--uv
          - --gitignore
          - --ci--push--tag
          - --pre-commit--prettier
          - --pre-commit--python
          - --pre-commit--ruff
          - --pre-commit--shell
          - --pre-commit--taplo
          - --pre-commit--uv
          - --repo-name=dotfiles
          - --ruff
      - id: format-requirements
      - id: replace-sequence-strs
      - id: touch-empty-py
      - id: touch-py-typed
      - id: update-requirements
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
      - id: fish_indent
        name: fish_indent
        entry: fish_indent
        language: system
        files: \.fish$
        args: [--write]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        args:
          - --upgrade
          - --resolution
          - highest
          - --prerelease
          - disallow
  - repo: https://github.com/johnnymorganz/stylua
    rev: v2.3.1
    hooks:
      - id: stylua
  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.8
    hooks:
      - id: xml-formatter
        types: []
        types_or: [plist, xml]
        args: [--eof-newline]

Fix typo in `add-known-host` (#800)
  .bumpversion.toml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-02-09 21:26:10 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  stayfocusd/settings.json
  uv.lock
Due: none

Add `stayfocusd` settings (#801)
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  stayfocusd/settings.json
  uv.lock
Due: none

2026-02-09 21:27:57 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
Due: none

2026-02-09 21:28:17 (Mon) > DW-Mac > derekwan
  install/configs/linux/resolv.conf
Due: none

2026-02-09 21:28:38 (Mon) > DW-Mac > derekwan
  .gitmodules
Due: none

2026-02-09 21:28:56 (Mon) > DW-Mac > derekwan
  install/enums.py
  install/installer_constants.py
  install/lib.py
  install/types.py
  install/utilities.py
Due: none

2026-02-09 21:29:59 (Mon) > DW-Mac > derekwan
  install/__init__.py
  install/constants.py
  install/groups/__init__.py
  install/groups/common.py
  install/groups/linux.py
  install/groups/mac.py
  install/machines/__init__.py
  install/machines/dev_server.py
  install/machines/mac_mini.py
  install/machines/macbook.py
  install/machines/swift.py
  install/remotes/__init__.py
  install/remotes/macbook.py
Due: none

Remove `install` (#802)
  .bumpversion.toml
  .gitmodules
  install/__init__.py
  install/configs/linux/resolv.conf
  install/constants.py
  install/enums.py
  install/groups/__init__.py
  install/groups/common.py
  install/groups/linux.py
  install/groups/mac.py
  install/installer_constants.py
  install/lib.py
  install/machines/__init__.py
  install/machines/dev_server.py
  install/machines/mac_mini.py
  install/machines/macbook.py
  install/machines/swift.py
  install/remotes/__init__.py
  install/remotes/macbook.py
  install/types.py
  install/utilities.py
  pyproject.toml
  src/dotfiles/__init__.py
Due: none

2026-02-11 12:24:26 (Wed) > DW-Mac > derekwan
  .bumpversion.toml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

Increase sleep on `gitea` merge from 1s -> 5s (#803)
  .bumpversion.toml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-02-14 19:47:58 (Sat) > DW-Mac > derekwan
  .bumpversion.toml
  ipython/startup.py
  nvim/lazy-lock.json
  nvim/snippets/python.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-02-14 20:29:47 (Sat) > DW-Mac > derekwan
  uv.lock
Due: none

Update aliases & plugins (#805)
  .bumpversion.toml
  ipython/startup.py
  nvim/lazy-lock.json
  nvim/snippets/python.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-02-16 13:57:07 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

Add `yield-git-repos` (#806)
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-02-16 14:01:23 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

Fix pinned versions (#807)
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-02-19 10:13:07 (Thu) > DW-Mac > derekwan
  .bumpversion.toml
  .envrc
  .github/workflows/push.yaml
  .pre-commit-config.yaml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-02-19 10:13:41 (Thu) > DW-Mac > derekwan
  pytest.toml
Due: none

Increase sleep on `gitea` merge from 5s -> 10s (#808)
  .bumpversion.toml
  .envrc
  .github/workflows/push.yaml
  .pre-commit-config.yaml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  pytest.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-02-19 10:17:47 (Thu) > DW-Mac > derekwan
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
Due: prettier

2026-02-19 10:19:42 (Thu) > DW-Mac > derekwan
  .bumpversion.toml
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier

Regenerate `.github/**/*.yaml` (#809)
  .bumpversion.toml
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier

2026-02-21 08:41:59 (Sat) > DW-Mac > derekwan
  tailscale/.envrc
Due: none

2026-02-21 08:42:21 (Sat) > DW-Mac > derekwan
  .bumpversion.toml
Due: none

2026-02-21 08:46:41 (Sat) > DW-Mac > derekwan
  deploy-key/.gitignore
  deploy-key/key.pub
Due: none

Remove `deploy-key` (#811)
  deploy-key/.gitignore
  deploy-key/key.pub
Due: none
