Repository dycw/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish_indent, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]

repos:
  # fixers
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          [
            --option,
            indent_tables=true,
            --option,
            indent_entries=true,
            --option,
            reorder_keys=true,
          ]
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.13.24
    hooks:
      - id: check-submodules-updated
        args: [--run-every=PT5M]
      # - id: check-version-bumped
      - id: run-bump-my-version
  - repo: https://github.com/johnnymorganz/stylua
    rev: v2.3.0
    hooks:
      - id: stylua
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.8
    hooks:
      - id: xml-formatter
        types: []
        types_or: [plist, xml]
        args: [--eof-newline]
  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        entry: fish_indent
        language: system
        files: \.fish$
        args: [--write]
      - id: prettier
        name: prettier
        entry: prettier
        language: system
        types_or: [markdown]
        args: [--write, --log-level=silent]
  # linters
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  # fixers/linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace

Update neovim plugins (#778)
  nvim/lazy-lock.json
  pyproject.toml
Due: none

2026-01-09 09:32:24 (Fri) > DW-Mac > derekwan
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
Due: fish_indent

Add `dycw-utilities` to `ipy` and `jl` (#779)
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
Due: fish_indent

2026-01-15 05:54:52 (Thu) > DW-Mac > derekwan
  nvim/lazy-lock.json
  pyproject.toml
  uv.lock
  wezterm/wezterm.lua
Due: none

Reduce `wezterm` size (#780)
  nvim/lazy-lock.json
  pyproject.toml
  uv.lock
  wezterm/wezterm.lua
Due: none

2026-01-17 20:55:02 (Sat) > DW-Mac > derekwan
  fish/config.fish
  git/config
  nvim/lazy-lock.json
  nvim/lua/plugins/dial.nvim.lua
  pyproject.toml
Due: fish_indent

Deprecate `uvpo`; add `uvbp` (#781)
  fish/config.fish
  git/config
  nvim/lazy-lock.json
  nvim/lua/plugins/dial.nvim.lua
  pyproject.toml
Due: fish_indent

2026-01-18 00:22:19 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  .envrc
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
  .gitignore
  .pre-commit-config.yaml
  fish/config.fish
  install/groups/__init__.py
  pyproject.toml
  ruff.toml
  uv.lock
Due: fish_indent

2026-01-18 00:22:45 (Sun) > DW-Mac > derekwan
  .envrc
Due: none

2026-01-18 00:25:21 (Sun) > DW-Mac > derekwan
  .github/workflows/pull-request.yaml
Due: none

2026-01-18 00:28:38 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  .envrc
  .pre-commit-config.yaml
  install/constants.py
  install/groups/common.py
  install/groups/linux.py
  install/groups/mac.py
  install/machines/dev_server.py
  install/machines/mac_mini.py
  install/machines/macbook.py
  install/machines/swift.py
  pyproject.toml
  pyrightconfig.json
  ruff.toml
Due: none

2026-01-18 00:30:47 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-01-18 00:31:07 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-01-18 00:31:46 (Sun) > DW-Mac > derekwan
  .github/workflows/push.yaml
Due: none

2026-01-18 00:32:37 (Sun) > DW-Mac > derekwan
  .gitignore
Due: none

Move to `prek` (#782)
  .bumpversion.toml
  .envrc
  .github/workflows/pull-request.yml
  .github/workflows/push.yaml
  .github/workflows/push.yml
  .gitignore
  .pre-commit-config.yaml
  fish/config.fish
  install/constants.py
  install/groups/common.py
  install/groups/linux.py
  install/groups/mac.py
  install/machines/dev_server.py
  install/machines/mac_mini.py
  install/machines/macbook.py
  install/machines/swift.py
  pyproject.toml
  pyrightconfig.json
  ruff.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-01-18 00:55:43 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  fish/config.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

Rename alias `pcu`->`pru` (#783)
  .bumpversion.toml
  fish/config.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-01-18 00:59:12 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  fish/git.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

Update some instances of `pre-commit` -> `prek` (#784)
  .bumpversion.toml
  fish/git.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-01-19 06:17:17 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  pyproject.toml
  restic/.env.example
  src/dotfiles/__init__.py
  src/dotfiles/py.typed
  uv.lock
Due: fish_indent

Update `__prek_run` (#785)
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  pyproject.toml
  restic/.env.example
  src/dotfiles/__init__.py
  src/dotfiles/py.typed
  uv.lock
Due: fish_indent

2026-01-20 10:25:43 (Tue) > DW-Mac > derekwan
  .bumpversion.toml
  .coveragerc.toml
  .gitattributes
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  pytest.toml
  restic/.gitattributes
  restic/.gitignore
  src/dotfiles/__init__.py
  tailscale/.envrc
  uv.lock
Due: fish_indent, prettier

2026-01-20 10:26:25 (Tue) > DW-Mac > derekwan
  .github/workflows/push.yaml
Due: none

2026-01-20 10:27:01 (Tue) > DW-Mac > derekwan
  ipython/startup.py
Due: none

2026-01-20 10:28:00 (Tue) > DW-Mac > derekwan
  restic/.gitignore
Due: none

2026-01-20 10:28:53 (Tue) > DW-Mac > derekwan
  tailscale/.envrc
Due: none

2026-01-20 10:29:16 (Tue) > DW-Mac > derekwan
  .gitignore
Due: none

2026-01-20 10:29:28 (Tue) > DW-Mac > derekwan
  .gitignore
Due: none

2026-01-20 10:29:43 (Tue) > DW-Mac > derekwan
  pyproject.toml
Due: none

2026-01-20 10:29:56 (Tue) > DW-Mac > derekwan
  pyproject.toml
Due: none

2026-01-20 10:35:20 (Tue) > DW-Mac > derekwan
  .pre-commit-config.yaml
  justfile
  tailscale/docker/justfile
  tailscale/system/justfile
Due: none
