Repository dycw/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, fish_indent

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/dycw/actions
    rev: 0.15.2
    hooks:
      - id: conformalize-repo
        args:
          - --description=Library of actions
          - --envrc
          - --envrc--uv
          - --gitignore
          - --ci--push--tag
          - --pre-commit--prettier
          - --pre-commit--python
          - --pre-commit--ruff
          - --pre-commit--shell
          - --pre-commit--taplo
          - --pre-commit--uv
          - --repo-name=dotfiles
          - --ruff
      - id: format-requirements
      - id: replace-sequence-strs
      - id: touch-empty-py
      - id: touch-py-typed
      - id: update-requirements
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or:
          - markdown
          - yaml
      - id: fish_indent
        name: fish_indent
        entry: fish_indent
        language: system
        files: \.fish$
        args: [--write]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        args:
          - --upgrade
          - --resolution
          - highest
          - --prerelease
          - disallow
  - repo: https://github.com/johnnymorganz/stylua
    rev: v2.3.1
    hooks:
      - id: stylua
  - repo: https://github.com/pamoller/xmlformatter
    rev: v0.2.8
    hooks:
      - id: xml-formatter
        types: []
        types_or: [plist, xml]
        args: [--eof-newline]

Reduce to 2 commits `gg` (#786)
  .bumpversion.toml
  .coveragerc.toml
  .gitattributes
  .github/workflows/pull-request.yaml
  .github/workflows/push.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  fish/git.fish
  ipython/startup.py
  justfile
  nvim/lazy-lock.json
  pyproject.toml
  pytest.toml
  restic/.gitattributes
  restic/.gitignore
  src/dotfiles/__init__.py
  tailscale/.envrc
  tailscale/docker/justfile
  tailscale/system/justfile
  uv.lock
Due: prettier, fish_indent

2026-01-20 10:56:13 (Tue) > DW-Mac > derekwan
  .bumpversion.toml
  fish/git.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

Change `gg` to run 3 times (#787)
  .bumpversion.toml
  fish/git.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-01-21 04:51:14 (Wed) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-01-21 04:51:42 (Wed) > DW-Mac > derekwan
  .pre-commit-config.yaml
Due: prettier

Guard against `rm .git` (#788)
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-01-26 06:41:37 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  .gitignore
  .pre-commit-config.yaml
  nvim/lazy-lock.json
  nvim/snippets/python.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier

Update aliases (#789)
  .bumpversion.toml
  .gitignore
  .pre-commit-config.yaml
  nvim/lazy-lock.json
  nvim/snippets/python.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier

2026-01-26 11:26:31 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  nvim/lazy-lock.json
  nvim/lua/plugins/leap.nvim.lua
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

Move `leap.nvim` to CodeBerg (#790)
  .bumpversion.toml
  nvim/lazy-lock.json
  nvim/lua/plugins/leap.nvim.lua
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-01-26 11:52:47 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
  wezterm/wezterm.lua
Due: none

Set `config.warn_about_missing_glyphs = false` (#791)
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
  wezterm/wezterm.lua
Due: none

2026-01-26 18:36:38 (Mon) > DW-Swift > derek
  fish/config.fish
Due: fish_indent

2026-01-26 18:39:02 (Mon) > DW-Mac > derekwan
  .bumpversion.toml
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: none

2026-01-26 18:40:24 (Mon) > DW-Mac > derekwan
  uv.lock
Due: none

2026-01-26 18:40:39 (Mon) > DW-Mac > derekwan
  fish/config.fish
Due: fish_indent

2026-01-26 18:40:54 (Mon) > DW-Mac > derekwan
  fish/config.fish
Due: fish_indent

2026-01-26 18:41:22 (Mon) > DW-Mac > derekwan
  fish/config.fish
  temp
Due: fish_indent

2026-01-26 18:41:42 (Mon) > DW-Mac > derekwan
  fish/config.fish
Due: fish_indent

2026-01-26 18:41:49 (Mon) > DW-Mac > derekwan
  fish/config.fish
Due: fish_indent

2026-01-26 18:42:02 (Mon) > DW-Mac > derekwan
  temp
Due: none

Add `spoof-mac-address` (#792)
  .bumpversion.toml
  fish/config.fish
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-01-28 09:32:29 (Wed) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-01-28 09:33:40 (Wed) > DW-Mac > derekwan
  src/tests/__init__.py
  src/tests/test_main.py
Due: none

Add `pg` alias (#793)
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/tests/__init__.py
  src/tests/test_main.py
  uv.lock
Due: prettier, fish_indent

2026-01-31 16:45:15 (Sat) > DW-Mac > derekwan
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

Add `tea open` to `gw` (#794)
  .bumpversion.toml
  .pre-commit-config.yaml
  fish/git.fish
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: prettier, fish_indent

2026-02-01 21:24:23 (Sun) > DW-Mac > derekwan
  .bumpversion.toml
  fish/git.fish
  git/config
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

Have `__gitea_merge` call `__git_checkout_close` with `--delete-remote` (#795)
  .bumpversion.toml
  fish/git.fish
  git/config
  nvim/lazy-lock.json
  pyproject.toml
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent

2026-02-07 21:20:28 (Sat) > DW-Mac > derekwan
  .bumpversion.toml
  fish/config.fish
  nvim/lazy-lock.json
  pyproject.toml
  restic/backup
  src/dotfiles/__init__.py
  uv.lock
Due: fish_indent
